{% extends "padre.html" %}

{% block title %} index {% endblock %}


{% block content %}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-0 pt-lg-4">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid" src="img/about.jpg" alt="">
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Mi Nombre Es Luis Rojas</h6>
                <h1 class="mb-4">Me Gusta La Tecnologia, estoy formandome para poder ser un Desarrollador Web Y De Software</h1>
                <h5 class="font-weight-medium font-italic mb-4">Estoy Por Obtener Mi Primer Certificado En Este Caso De Un Curso De Python En CoderHouse</h5>
                <p class="mb-2">Pero Esta Claro Que Esto Es Solo El Comienzo, Tengo Que Seguir Practicando E Investigando, A Pesar de que este Es Un Curso De Python, Tambien aprendi:</p>
                <div class="row">
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">Html Y Css Por Ahora Basico Pero Cada Vez Dominandolo Mas</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">Tambien He Aprendido Un Poco Acerca Del Manejo De Bases De Datos</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">Puedo Decir Tambien Que Gracias A Python Y Django, He Podido Crear Mi Primera Pagina Web</p>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-3">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-check text-primary mr-2"></i>
                            <p class="text-secondary font-weight-medium m-0">Tengo Mucha Fe En Poder Conseguir Un Trabajo Como Desarrollador, Solo No Hay Que Dejar De Aprender Y Tambien Contar Con Una Buena Comunidad Para Ayudarse Entre Todos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}